<%- include('includes/head')  %> 
<%- include('includes/nav')  %> 
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      
      <h1 class="text-center">
        Agenda
      </h1>
      <p class="text-center font-italic">
        Seus contatos salvos estão abaixo.
      </p>

      <%- include('includes/messages')  %>
      <% if(contatos.length > 0){ %> 
        <div class="responsive-table">
          <table class="table my-3">
            <th>
              <td>Nome:</td>
              <td>Sobrenome:</td>
              <td>Telefone:</td>
              <td>Email:</td>
              <td></td>
              <td></td>
            </th>
            <% contatos.forEach(contato => { %>
              <tr>
                <td><%= contato.nome %></td>
                <td><%= contato.sobrenome %></td>
                <td><%= contato.telefone %></td>
                <td><%= contato.email %></td>
                <td><a class="btn btn-outline-primary" href="contato/index/<%= contato._id %>">Editar</a></td>
                <td><a class="btn btn-outline-danger" href="contato/delete/<%= contato._id %>">Delete</a></td>
              </tr>
            <% }); %>
          </table>
        </div>
      <% } else { %>
        <p class=""><h3 class="text-center lead font-weight">Não há contato cadastrados</h3></p>
      <% } %>      
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer')  %> 